.currentWeather {
  border-radius: 20px;
  height: max-content;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  width: 60vw;
  color: white;
}

.currentWeather .details {
  padding: 5px;
  flex-grow: 2;
}

.details .name {
  font-size: 2.5em;
  text-transform: capitalize;
  font-weight: 700;
  font-family: "Play", sans-serif;
  letter-spacing: 2px;
}

.details .currenttemp {
  font-size: 3em;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  padding: 10px 0px;
}

.currentWeather .icon {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 0px 20px;
}

@media screen and (max-width: 600px) {
  .currentWeather {
    padding: 10px 15px;
    width: 80vw;
    color: white;
    margin-bottom: 10px;
  }
  .currentWeather .icon {
    height: 120px;
    width: 120px;
    margin: 0px 10px;
  }


  .details .currenttemp {
    font-size: 2.5em;
  }

  .details .name {
    font-size: 2.2em;
    letter-spacing: 1.5px;
  }
  
}
